# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
env/
.pytest_cache/
.python-version

# Ignora pastas de dados em qualquer nível
**/data/
data/*
scripts/*
backend/data/
qdrant_data/

# Banco de dados local
*.sqlite3

# Segredos e Configurações (Essencial para segurança)
.env

# Logs e Caches
*.log
.git/
.gitignore
.dockerignore
.vscode/
.DS_Store
